# serverでセットが必要な環境変数
# OpenAIのAPIキー。OpenAIアカウント上でAPIキーを発行して記載。
OPENAI_API_KEY=
# clientからAPIにアクセスする際のAPIキー。サーバー側でセットされる。NEXT_PUBLIC_PUBLIC_API_KEYと同じ値を設定。
PUBLIC_API_KEY=public
# client-adminからAPIにアクセスする際のAPIキー。サーバー側でセットされる。NEXT_PUBLIC_ADMIN_API_KEYと同じ値を設定。
ADMIN_API_KEY=admin
# productionかdevelopmentを設定。productionの場合はopenapi等のUIが表示されなくなる。
ENVIRONMENT=development

# Azure OpenAI Service configuration
USE_AZURE=false
## for ChatCompletiion
AZURE_CHATCOMPLETION_ENDPOINT=https://kouchou-ai-openai.openai.azure.com
AZURE_CHATCOMPLETION_DEPLOYMENT_NAME=gpt4o
AZURE_CHATCOMPLETION_VERSION=2024-10-21
AZURE_CHATCOMPLETION_API_KEY=*****
# for Embedding
AZURE_EMBEDDING_ENDPOINT=https://kouchou-ai-openai.openai.azure.com
AZURE_EMBEDDING_DEPLOYMENT_NAME=text-embedding-3-large
AZURE_EMBEDDING_VERSION=2023-05-15
AZURE_EMBEDDING_API_KEY=*****